<h1>Listing servicios</h1>

<table>
  <tr>
    <th>Direccionorigen</th>
    <th>Direcciondestino</th>
    <th>Fechaservicio</th>
    <th>Horaservicio</th>
    <th>Pasajeros</th>
    <th>Cliente</th>
    <th>Precio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servicios.each do |servicio| %>
  <tr>
    <td><%= servicio.direccionorigen %></td>
    <td><%= servicio.direcciondestino %></td>
    <td><%= servicio.fechaservicio %></td>
    <td><%= servicio.horaservicio %></td>
    <td><%= servicio.pasajeros %></td>
    <td><%= servicio.cliente.fullname %></td>
    <td><%= servicio.precio.tarifa %></td>
    <td><%= link_to 'Show', servicio %></td>
    <td><%= link_to 'Edit', edit_servicio_path(servicio) %></td>
    <td><%= link_to 'Destroy', servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Servicio', new_servicio_path %>
