<p id="notice"><%= notice %></p>

<h1>Listing Distrito Destinos</h1>

<table>
  <thead>
    <tr>
      <th>Nombredistrito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distrito_destinos.each do |distrito_destino| %>
      <tr>
        <td><%= distrito_destino.nombredistrito %></td>
        <td><%= link_to 'Show', distrito_destino %></td>
        <td><%= link_to 'Edit', edit_distrito_destino_path(distrito_destino) %></td>
        <td><%= link_to 'Destroy', distrito_destino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distrito destino', new_distrito_destino_path %>
